*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.sln.iml

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

Thumbs.db
ehthumbs.db
Desktop.ini

*.vsix
*.map

.contextkeeper/
